/*
 * Temporary stylesheet for Faisal's branch work.
 */


 /* Header Style Start */
.site-header {
	background-color: var(--bright-color-dark);
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	/* position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99; */
}
.header-main-inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
  align-items: center;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 2.1875rem;
}
.main-menu > li {
  position: relative;
}
.site-header-bar {
  display: flex;
  align-items: center;
  column-gap: 2.9375rem;
}
.main-menu > li > a {
  color: #fff;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
  transition: 0.3s all ease;
}
.main-menu > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.75rem;
    width: 100%;
    height: .125rem;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.main-menu > li > a:hover::after,
.main-menu > li > a:focus::after {
    transform: scaleX(1);
}
.main-menu > li > a.active::after {
    transform: scaleX(1);
}
.site-header-actions button {
  display: none;
}
.site-header-actions .site-btn {
  padding: .625rem 2.375rem;
}
/* Header Style End */


/* Hero Style Start */
.hero-section-inner {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
}
.hero-media-wrapper {
	height: 67.5rem;
  position: relative;
  overflow: hidden;
}
.hero-media-wrapper:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hero-content, .hero-media {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}
.hero-content {
	position: relative;
	z-index: 99;
  color: #fff;
}
.hero-title {
  font-style: normal;
  font-weight: 500;
  line-height: 111.538%;
  letter-spacing: -.1235rem;
  color: #fff;
  max-width: 44.25rem;
}
.hero-description {
  max-width: 40.5rem;
  margin-top: 1.5rem;
}
.hero-buttons {
	margin-top: 2.5rem;
}
.hero-buttons .site-btn {
  border-radius: .25rem;
  border: .125rem solid #4DACE8;
  background: #FFF;
  font-size: 1rem;
}
@media only screen and (max-width:1199px) {
.hero-media-wrapper {
  height: 40rem;
}
}
@media only screen and (max-width:991px) {
.hero-media-wrapper {
  height: 35rem;
}
}
@media only screen and (max-width:767px) {
.hero-media-wrapper {
  height: 30rem;
}
}
/* Hero Style End */


/* Content Intro Style Start */
.content-intro-section {
	background-color: #F8F8F8;
}
.content-intro-title {
  font-weight: 400;
  line-height: 148.718%;
  letter-spacing: -.092625rem;
}
.content-intro-description {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}
.content-intro-section {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}
.content-intro-media, 
.content-section-content {
  grid-row: 1;
  grid-column: 1;
}
.content-intro-media-wrapper{
	height: 50.875rem;
  position: relative;
}
.content-intro-media-wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.content-section-content.full-width-media-inner {
	position: relative;
	z-index: 2;
  text-align: center;
  color: #fff;
}
.full-width-media-inner .content-intro-title {
  color: #fff;
}
.full-width-media-inner .content-intro-description {
	max-width: 48.375rem;
}
@media only screen and (max-width:991px) {
.content-intro-media-wrapper {
	height: 30rem;
}
}
@media only screen and (max-width:767px) {
.content-intro-media-wrapper {
	height: 25rem;
}
}
/* Content Intro Style End */


/* Highlight Card Style Start */
.highlight-feature-section {
	background-color: #FAFAFA;
}
.highlight-card-title {
  margin-bottom: 0;
}
.highlight-feature-card:nth-child(2) .highlight-card-title {
	max-width: 12.9375rem;
}
/* Highlight Card Style End */


/* Media Content 5050 Style Start */

.mc-5050-bg {
  background-color: #FAFAFA;
}
.media-content-5050-row{
	display: grid;
  column-gap: 7.4375rem;
	grid-template-columns: 1fr 1fr;
}
.mc-5050-bg .mc5050-content {
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}
.mc5050-eyebrow {
  color: var(--bright-color-dark);
  font-style: normal;
  font-weight: 700;
  line-height: 290%;
  text-transform: uppercase;
}
.mc5050-title {
	margin-top: 1.25rem;
	/* font-size: 3.25rem; */
	font-weight: 400;
	line-height: 111.538%;
	letter-spacing: -.1235rem;
	max-width: 39.9375rem;
  margin: 0;
}
.mc5050-body.wysiwyg-content p {
	margin-top: 1.875rem;
}
/* .mc5050-body.wysiwyg-content p:last-child {
	color: var(--bright-color-dark);
	font-style: normal;
	font-weight: 500;
	margin-top: 2.5rem;
} */
.mc5050-body.wysiwyg-content ul {
	margin-top: 2.5rem;
}
.mc5050-content{
    grid-area: content;
}
.mc5050-media {
	grid-area: media;
}
/* .mc-5050-bg .mc5050-media  {
 margin-right: -13rem;
} */
.media-content-5050-row.media-right {
    grid-template-areas: "content media";
}
.media-content-5050-row.media-left {
    grid-template-areas: "media content";
}
@media only screen and (max-width:1199px) {
.media-content-5050-row {
	column-gap: 5rem;
}
}
@media only screen and (max-width:991px) {
    .media-content-5050-row{
      column-gap: 3rem;
    }
    .mc5050-img {
	    height: auto !important;
    }
    .mc5050-body.wysiwyg-content p:last-child {
      margin-top: 2rem;
    }
}

@media only screen and (max-width:767px) {
  .media-content-5050-row{
        row-gap: 2rem;
    }
   .media-content-5050-row.media-right {
        grid-template-areas: 
        "media" 
        "content";
        grid-template-columns: 1fr;
    }
  .media-content-5050-row.media-left {
        grid-template-areas: 
        "media"
        "content";
        grid-template-columns: 1fr;
    }
}
/* Media Content 5050 Style End */



/* Feature Content Style Start */
.feature-content-section {
	background-color: #FAFBFB;
}
.feature-content-title.text-center {
  font-style: normal;
  font-weight: 400;
  line-height: 111.538%;
  letter-spacing: -.1235rem;
}
.feature-content-boxes {
  display: grid;
  column-gap: 10.25rem;
  margin-top: 5.3125rem;
}
.feature-box-icon {
  max-width: 18.875rem;
  margin-left: auto;
  margin-right: auto;
}
.feature-box-content {
	margin-top: 2.8125rem;
}
.feature-content-description {
  margin-top: .5rem;
}
.feature-content-title {
  margin-bottom: 0;
}
.feature-content-description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 156.25%;
}
@media only screen and (max-width:1199px) {
  .feature-content-boxes {
  	column-gap: 5rem;
  }
}
@media only screen and (max-width:991px) {
.feature-content-boxes {
	column-gap: 3rem;
	margin-top: 4rem;
}
.feature-box-icon {
	max-width: 10rem;
}
.feature-box-content {
	margin-top: 2rem;
}
}
@media only screen and (max-width: 767px) {
.feature-content-boxes {
	row-gap: 2.5rem;
	margin-top: 2rem;
}
.feature-box-content {
	margin-top: 2rem;
}
}
/* Feature Content Style End */


/* Image Card Grid Style Start */
.image-card-grid-section {
	color: var(--bright-color-light);
	background-color: var(--bright-color-dark);
}
.image-card-grid-section-content {
  text-align: center;
}
.image-card-grid-section-title {
  color: var(--bright-color-light);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 111.538%;
}
.image-card-grid-section-body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.image-card-grid-boxes {
	display: grid;
	column-gap: 2rem;
	row-gap: 2rem;
	margin-top: 4.5rem;
}
.image-card-grid-box {
  position: relative;
  overflow: hidden;
}
.image-card-grid-media-wrapper  {
  height: 34.5625rem;
}
.image-card-grid-media-wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: .25rem;
  background: linear-gradient(180deg, #292929 0%, #F2F2F2 52.25%, #292929 101.01%);
  mix-blend-mode: multiply;
}
.image-card-grid-image {
	border-radius: .25rem;
}
.image-card-grid-content {
	position: absolute;
	left: 2.5rem;
	top: 1.25rem;
	right: 2.5rem;
	bottom: 5.625rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  z-index: 2;
}
.highlight-badge {
	box-shadow: 0 .375rem .375rem 0 rgba(0, 0, 0, 0.71);
	background-color: var(--bright-color-primary);
	padding: .625rem 0;
	padding-left: 0;
	position: relative;
	display: inline-block;
	width: 13.625rem;
}
.highlight-badge::before {
  content: "";
  position: absolute;
  width: 118.75rem;
  height: 100%;
  top: 0;
  left: -118.75rem;
  background-color: var(--bright-color-primary);
}
.highlight-badge-title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 138.889%;
  text-transform: uppercase;
}
.image-card-content {
  text-align: center;
  max-width: 23.75rem;
  margin-left: auto;
  margin-right: auto;
}
.image-card-content .highlight-card-title {
	color: var(--bright-color-light);
	font-style: normal;
	font-weight: 700;
	line-height: 118.75%;
}
.highlight-card-body {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 156.25%;
  margin-top: .5rem;
}
@media only screen and (max-width: 991px) {
  .image-card-grid-media-wrapper {
	height: 25rem;
}
}
@media only screen and (max-width: 767px) {
.highlight-badge-title {
	font-size: 1rem;
}
.image-card-grid-content {
	bottom: 3rem;
}
.image-card-grid-boxes {
	margin-top: 3rem;
}
}
/* Image Card Grid Style End */


/* How It Works Style Start */
.how-it-works-section-body {
  max-width: 53.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
}
.how-it-works-box-inner {
	display: grid;
	column-gap: 6.25rem;
	align-items: center;
}
.how-it-works-media-wrapper {
	height: 14.25rem;
}
.process-step-number {
	margin-top: 2.5rem;
  display: block;
}
/* How It Works Style End */


.contact-cta-section {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  position: relative;
  min-height: 26.25rem;
}
.contact-cta-content,
.contact_cta_bg__media {
  grid-row: 1;
  grid-column: 1;
}
.contact-cta-section::after {
  position: absolute; 
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5732);
}
.contact-cta-title {
	color: var(--bright-color-light);
}
.contact-cta-content {
	position: relative;
	z-index: 2;
  text-align: center;
  color: var(--bright-color-light);
}
.contact-cta-description {
	margin-top: 1.875rem;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}
.contact_cta_bg__media {
	height: 26.3125rem;
}
.cta-buttons.btns {
	justify-content: center;
	margin-top: 2.1875rem;
}